html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.main {
}

.header {

    background: #EDF2EC;
}

.header-burger {
    width: 40px;
    height: 26px;
    display: none;
    position: relative;
    margin-bottom: 2px;
    margin-right: 25px;

}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #717171;
    position: absolute;
    left: 0;
}

.burger-line-first {
    top: 0;
}

.burger-line-second {
    top: 33%;
}

.burger-line-third {
    top: 66%;
}

.burger-line-fourth {
    bottom: 0;
}

.navbar {
    width: 1220px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

.nav-list {
    display: flex;
    list-style: none;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

.nav-link {
    align-items: center;
    justify-content: left;
    list-style: none;
    line-height: 50px;
    text-decoration: none;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #010201;
    padding-left: 45px;
}

.about {
    height: 666px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
}

.nav-link:hover {
    color: #E06733;
    font-weight: 700;
    cursor: pointer;
}

.logo {
    font-family: 'Inika', serif;
    color: #000000;
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    padding-left: 4px;
}

.plants {
    width: 58.13px;
    height: 17px;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
}

.welcome {
    height: 532px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #EDF2EC;
}

.welcome_section {
    height: 340px;
    width: 549px;
    margin-left: 224.2px;
}


h1 {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #717171;
}

.about_header {
    width: 463px;
    height: 102px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 44px 0;
}

.header_about {
    height: 102px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 42px;
    margin-top: 0;
}

.green-word {
    list-style: none;
    text-decoration: none;
    color: #499A18;
}

.orange-word {
    list-style: none;
    text-decoration: none;
    color: #E06733;
}

.welcome_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}

.about_text {
    margin-right: 605px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #636060;
    width: 605px;
    height: 348px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.houseplant1-img {
    position: absolute;
    margin-left: 766px;
    width: 464px;
    height: 479px;
}

.btn-learn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 158px;
    height: 44px;
    border-radius: 10px;
    background-color: #EDF2EC;
    border: 2px solid #E06733;
    color: #000000;
    font-family: 'Inter', sans-serif;
    transition: all 200ms ease;
}

.btn-learn:hover {
    background-color: #E06733;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

.service {
    height: 1300px;
    display: flex;
    flex-direction: column;
    background: #EDF2EC;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section.service {

}

.service_content {
    width: 1217px;
    height: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 28px;
    margin-bottom: 70px;
    padding-bottom: 10px;
}

.btn-service-container {
    display: flex;
    align-items: flex-end;
}

.service_header_container {
    display: flex;
    align-items: self-start;
    margin-bottom: 20px;
    position: relative;
    bottom: 20px;
}

.service_header {
    width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-right: 142px;
}


.btn-service {
    width: 161px;
    height: 50px;
    left: 756px;
    top: 69px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: #EDF2EC;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    margin-top: 10px;
    margin-right: 38px;
    transition: all 200ms ease;
}

.btn-service:hover {
    background-color: #E06733;
    color: white;
    cursor: pointer;
}

.btn-service-active {
    background-color: #E06733;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}


.service_items {
    width: 1222px;
    height: 955px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service_item {
    height: 450px;
    width: 330px;
    margin-bottom: 55px;
    background-color: #EDF2EC;
    margin-right: 5px;
}

.blure {
    filter: blur(2px);
    transition: linear 0.5s;
}

.service_card {
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    background-color: #EDF2EC;
    margin-top: -4px;

}

.service-img {
    width: 331px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}

.card_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
    margin-top: 10px;
}

.card_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 55px;
    text-align: center;
    margin-top: -4px;
}

.price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    margin-bottom: 57px;
}


.prices {
    width: 332px;
    height: 391.01px;
    margin-right: 438px;
}

.prices_block {
    width: 259px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 35px;
    margin-left: 10px;
}

.price_header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-top: 39px;
    margin-left: 5px;
}

.prices_item {
    min-height: 50px;
    border-radius: 20px;
    margin-bottom: 32px;
    border-color: #EDF2EC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-left: 40px;
    background: #EDF2EC url(assets/jpg/accordion_btn_prices.png) no-repeat;
    appearance: none;
    background-position: 195px 15px;
    cursor: pointer;
}

.prices_item_open {
    background: #D6E7D2 url(assets/jpg/accordion_btn2.svg) no-repeat;
    appearance: none;
    background-position: 195px 15px;
}

.prices_item:last-child {
    margin-bottom: 0;
}

.price_item_info {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.price_item_info_open {
    height: 104px;
}

.prices_item_price {
    width: 123px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.price_item_orange {
    width: 123px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #E06733;
}

.prices_item_text {
    width: 169px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    padding-top: 6px;
}

.prices_item_line {
    width: 164px;
    height: 0px;
    border: 0.5px solid #AEA1A1;
}

.prices_item_title {
    padding-top: 13px;
    padding-bottom: 12px;
    z-index: 15;
}

.price_order_container {
    width: 86px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 15;
}

.price_order {
    text-decoration: none;
    padding-left: 24px;
    width: 46px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    z-index: 15;
}

.price_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 452px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-left: 5px;
}

.btn-price {
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    background: #FFFFFF;
    transition: all 200ms ease;
}

.btn-price:hover {
    background-color: #E06733;
    color: white;
    cursor: pointer;
}

.leafs-img1 {

}

.leafs-img {
    margin-top: 30px;
    position: relative;
    left: 10px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background: #EDF2EC;
    height: 550px;
}

.select_city {
    width: 430px;
    height: 47px;
    margin-top: 155px;
    margin-left: 762px;
    padding-top: 7px;
    padding-left: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    border-color: #D6E7D2;
    cursor: pointer;
    background: #D6E7D2 url(./assets/jpg/accordion_btn.png) no-repeat;
    appearance: none;
    background-position: 419px 17px;
    box-sizing: unset;
    transition: all 200ms ease;
}

.select_city_active {
    border: 1px solid #D6E7D2;
    border-radius: 0px;
    background: #C1E698 url(./assets/svg/btn_active_contacts.svg) no-repeat;
    appearance: none;
    background-position: 419px 17px;
    box-shadow: none;
}

.select_city_selected {
    border: 1px solid #C1E698;
    background: #C1E698 url(./assets/jpg/accordion_btn.png) no-repeat;
    appearance: none;
    background-position: 419px 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    box-shadow: none;
}

.option_city {
    display: none;
    width: 426px;
    height: 234px;
    background: #DCE9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    background: #DCE9D9;
    margin-top: -3px;
    margin-left: -21px;
    padding-left: 26px;
}

.option_city_open {
    display: block;
}

.option_city_item {
    display: block;
    width: 380px;
    height: 34px;
    background: #DCE9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    background: #DCE9D9;
    border-bottom: 1px solid #D9D9D9;
    padding-top: 9px;
    margin-top: 10px;
    padding-left: 8px;
}

.option_city_item:hover {
    display: block;
    width: 380px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    border-bottom: 1px solid #717171;
}

.city_card {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 214px;
    background: #EDF2EC;
    border: 1px solid #000000;
    left: 2px;
    top: 97px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: -19px;
}

.city_card_content {
    display: flex;
    flex-direction: row;
}


.city_card_titles {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.city_card_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 33px;
}


.city_content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #717171;
}

.city_card_call {
    margin: auto;
    width: 122px;
    height: 26px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    background:  #EDF2EC;
    color: #717171;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city_card_call:hover {
    background: #E06733;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

.call_us {
    color: #717171;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
.call_us:hover {
    color: white;
}

.card_place {

}

.phone_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts_header {
    position: absolute;
    width: 195px;
    height: 51px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    margin-top: 53px;
    color: #499A18;
    padding-left: 11px;
}

.woman {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    margin-right: 810px;
    position: absolute;
    margin-top: 548px;
}

.rss_links_inst {
    width: 26.66px;
    height: 26.66px;
    background-image: url(./assets/svg/inst.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-right: 30.66px;
}

.rss_links_pin {
    width: 26.66px;
    height: 26.66px;
    background-image: url(./assets/svg/pin.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.rss_links_twitter {
    width: 26.66px;
    height: 26.66px;
    background-image: url(./assets/svg/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-right: 22.6px;
    margin-left: 5px;
    margin-top: 2px;
}

.rss_links_facebook {
    width: 26.66px;
    height: 26.66px;
    background-image: url(./assets/svg/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-right: 14px;
}

.contact_links {
    display: flex;
    flex-direction: row;
}

.contact_links_ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.container {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 1222px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.rss {
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
    margin-left: 14px;
}

.rss_links {
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
}

footer {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.copy {
    margin-left: 5px;
    margin-right: 17px;
}

.link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
    margin-left: 13px;
}

/* Media start */

@media screen and (max-width: 768px) {

    .leafs-img1 {
        position: absolute;
        width: 280px;
        height: 254.15px;
        left: 439px;
        top: 156px;
    }

    .welcome_section {
        display: flex;
        flex-direction: column;
        margin-right: 353px;
        margin-left: 28px;
        margin-top: -29px;
        align-items: center;
    }

    .about {
        display: flex;
        width: 100%;
        height: 783px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-end;
    }

    .houseplant1-img {
        display: flex;
        width: 250px;
        height: 258px;
        margin-left: 0px;
        padding-right: 259px;
        padding-top: 336px;
    }

    .about_header {
        width: 423px;
        height: 102px;
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        margin-left: 9px;
    }

    .welcome {
        width: 100%;
        height: 420px;
    }

    .about_text {
        font-family: 'Inter', sans-serif;
        color: #636060;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 352px;
        margin-right: 0px;
    }

    .about_text:last-child {
        width: 668px;
        height: 208px;
        margin-left: -114px;
        margin-top: -6px;
    }

    .welcome_text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #636060;
        margin-bottom: 30px;
        margin-left: 8px;
        width: 341px;
        height: 105px;
    }

    .btn-learn {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 158px;
        height: 44px;
        border-radius: 10px;
        background-color: #EDF2EC;
        border: 2px solid #E06733;
        color: #000000;
        font-family: 'Inter', sans-serif;
        transition: all 200ms ease;
        margin-right: 184px;
    }

    .header_about {
        width: 341px;
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 17px;
        margin-top: 11px;
    }

    .nav {
        padding-right: 54px;
    }

    .nav-link {
        font-size: 16px;
        padding-left: 46px;
    }

    .nav-list {

    }

    .logo {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 34px;
        color: #000000;
        margin-bottom: 0px;
        padding-left: 47px;
    }

    .logo-img {
        width: 20px;
        height: 20px;
    }

    .plants {
        font-size: 16px;
    }

    .navbar {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .service {
        width: 100%;
        height: 1780px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        background: #EDF2EC;
    }

    .service_header {
        width: 306px;
        height: 94px;
        font-size: 35px;
        line-height: 46px;
        margin-left: 50px;
        bottom: 0px;
        margin-bottom: 0px;
        margin-top: 12px;
    }

    .service_header_container {
        display: flex;
        align-items: self-start;
        margin-bottom: 4px;
        position: relative;
        bottom: 0px;
    }

    .service_content {
        height: 74px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 28px;
        margin-bottom: 70px;
        padding-bottom: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
    }


    .service_items {
        width: 668px;
        height: 1426px;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        padding-bottom: 49px;
        padding-left: 53px;
    }

    .service-img {
        width: 280px;
        height: 350px;
    }

    .service_card {
        width: 280px;
        height: 100px;
    }


    .card_text {
        width: 201px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        margin-left: 36px;
        margin-top: -8px;
    }

    .btn-service-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-right: 0px;
        padding-left: 49px;
        padding-top: 35px;
        width: 559px;
        height: 50px;
    }

    .btn-service {
        width: 161px;
        height: 50px;
        margin-top: 0px;
        margin-right: 0px;
    }

    .service_item {
        width: 281px;
        height: 450px;
        margin-bottom: 0px;
    }

    .price_header {
        font-size: 35px;
        line-height: 42px;
        margin-top: 47px;
        margin-left: 21px;
    }

    .price {
        width: 100%;
        height: 585px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 0;
        justify-content: normal;
    }

    .prices {
        margin-right: 0;
        margin-top: -7px;
        margin-left: 45px;
    }

    .prices_block {
        margin-top: 57px;
        margin-left: 9px;
    }

    .price_right {
        margin-top: 112px;
        margin-right: 50px;
    }

    .price_text {
        width: 296px;
        height: 77.41px;
        font-size: 25px;
        line-height: 35px;
    }

    .contacts {
        width: 100%;
        height: 739px;

    }

    .contacts_header {
        margin-top: 37px;
        margin-bottom: 0px;
        padding-right: 9px;
    }

    .contacts_city {
        margin-left: 3px;
        margin-top: 192px;
    }

    .woman {
        width: 200px;
        height: 248.49px;
        margin-right: -18px;
        margin-top: 491px;
    }

    .container {
        height: 130px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 18px;
    }


    .footer {
        height: 181px;
    }

    .rss {
        height: 43px;
        margin-right: 15px;
    }

    .contact_links {
        margin-right: 40px;
    }

    .git-link {
        margin-left: 30px;
        margin-top: 2px;
    }

    .link {
        margin-left: 11px;
    }

    .git-link {
        height: 43px;
    }
}

@media screen and (max-width: 380px) {

    .logo {
        width: 77px;
        height: 23px;
        margin-bottom: 0px;
        padding-left: 21px;
        margin-top: 0px;
        font-size: 16px;
        line-height: 21px;
    }

    .logo-img {
        width: 19px;
        height: 20px;
        padding-left: 3px;
    }

    .navbar {
        height: 96px;
    }


    .welcome {
        width: 100%;
        height: 300px;
    }

    .welcome_section {
        align-items: baseline;
        padding-left: 328px;
        width: 380px;
        height: 300px;
        padding-top: 82px;
    }

    .welcome_text {
        margin-bottom: 20px;
        padding-bottom: -1px;
        margin-top: -12px;
    }

    .about {
        width: 100%;
        height: 516px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .header_about {
        margin-bottom: 0;
        margin-top: 0;
    }

    .houseplant1-img {
        padding-top: 0;
        padding-right: 0;
    }

    .about_text {
        width: 330px;
        height: 228.38px;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 0;
        margin-right: 0;
    }

    .about_text:last-child {
        width: 330px;
        height: 228.38px;
        margin-left: -25px;
        margin-top: -23px;
    }

    .about_header {
        font-size: 25px;
        line-height: 33px;
        width: 288px;
        height: 57.74px;
        margin-top: 30px;
        margin-left: -4px;
    }

    .houseplant1-img {
        position: unset;
        width: 150px;
        height: 147px;
        margin-top: 110px;
        margin-right: 114px;
    }

    .service {
        width: 100%;
        height: 3150px;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .btn-learn {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
        margin-right: 0;
    }

    .service_header {
        font-size: 25px;
        line-height: 33px;
        width: 187px;
        height: 69px;
        margin-left: 25px;
        margin-top: 2px;
    }

    .btn-service-container {
        width: 252px;
        height: 79px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 22px;
        margin-left: 25px;
    }


    .btn-service {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        margin-top: 9px;
    }

    .service_items {
        width: 280px;
        height: 2870px;
        margin-top: 71px;
        padding-left: 51px;
        padding-bottom: 0;
    }

    .service_content {
        width: 100%;
    }

    .price {
        height: 512px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .prices {
        margin-left: 28px;
    }

    .price_header {
        font-size: 25px;
        line-height: 30px;
        margin-top: 31px;
        margin-right: 29px;
        text-align: center;
    }

    .prices_block {
        width: 224px;
        height: 235px;
        padding: 0;
        margin-top: 38px;
        margin-left: 49px;
    }

    .prices_item:first-child {
        margin-top: 29px;
        margin-bottom: 14px;
    }

    .prices_item:last-child {
        margin-top: 14px;
        margin-bottom: 29px;
    }

    .prices_item {
        width: 180px;
        height: 49.72px;
        font-size: 15px;
        line-height: 20px;
        background-position: 127px 15px;
        margin-left: 19px;
        padding-left: 33px;
        margin-bottom: 0;
    }

    .price_right {
        margin-top: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 81px;
    }

    .price_text {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        width: 230px;
        height: 77px;
        margin-bottom: 12px;
        margin-top: 18px;
    }

    .contacts {
        width: 100%;
        height: 445px;
    }

    .contacts_city {
        width: 300px;
        height: 50px;
        background-position: 263px 15px;
        margin-left: -3px;
        margin-top: 139px;
    }

    .contacts_header {
        font-size: 25px;
        line-height: 33px;
        width: 192px;
        height: 34px;
        margin-top: 24px;
        margin-bottom: 0px;
        margin-left: 93px;
        padding-right: 36px;
    }


    .woman {
        width: 100px;
        height: 124px;
        margin-right: 13px;
        margin-top: 321px;
    }

    .btn-price {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }

    .leafs-img {
        display: none;
    }

    .header_about {
        font-size: 25px;
        line-height: 35px;
    }

    .leafs-img1 {
        display: none;
    }

    .nav {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .nav-active {
        transform: translateX(0);
        width: 380px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        padding: 39px;
    }

    .footer {
        width: 100%;
        height: 146px;
    }

    .nav-list {
        width: 100%;
        display: flex;
        color: white;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .rss {
        margin-right: 15px;
    }

    .git-link {
        margin-left: 29px;
    }

    .contact_links_ul {
        margin-bottom: 25px;
        margin-top: 7px;
    }

    .container {
        width: 100%;
        margin-bottom: 0;
    }

    .contact_links {
        margin-right: 41px;
    }

    .nav-item {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .nav-item:last-child {
        margin-bottom: 0;
    }

    .nav-link {
        color: #717171;
        font-size: 42px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 30px;
        padding: 0;
        font-size: 25px;
        line-height: 35px;
    }

    .header-burger {
        width: 40px;
        height: 26px;
        display: block;
        position: relative;
        margin-bottom: 2px;
        margin-right: 25px;

    }

    .header_nav-close {
        position: absolute;
        right: 89px;
        top: 23px;
        margin-left: 500px;
        width: 40px;
        height: 40px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #717171;
        position: absolute;
        top: 50%;
    }

    .header_nav-close-line:first-child {
        transform: translate(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translate(-50%) rotate(-45deg);
    }

}

/* Media end */